.modal.fade.carousel-video-modal
  .modal-dialog
    .modal-content
      .modal-body
        %iframe{src: "https://www.gitlab.com", width: 640, height: 360, allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen"}
